.restaurantList {
  display: grid;
  grid-auto-flow: column;
  border: 2px solid blue;
  height: 300px;
  width: 80%;
  margin-left: 10%;
  overflow: scroll;
  gap: 5px;
}

.RestaurantCard {
  width: 360px;
  height: 515px;
  border: 1px solid black;
  border-radius: 5px;
  padding-left: 10px;
  text-align: left;
}

.RestaurantCard h2 {
  font-size: 16px;
  font-weight: bold;
}
.RestaurantCard p {
  font-size: 14px;
  color: #737373;
}
