.restaurantList {
  display: grid;
  grid-auto-flow: column;
  border: 2px solid blue;
  height: 430px;
  width: 80%;
  margin-left: 10%;
  overflow: scroll;
  gap: 5px;
  padding: 5px;
}

.RestaurantCard {
  width: 270px;
  height: 420px;
  border: 1px solid black;
  border-radius: 5px;
  padding-left: 10px;
  text-align: left;
}

.RestaurantCard h2 {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -0.25px;
  line-height: 1.38;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.RestaurantCard p {
  font-size: 14px;
  color: #737373;
}

.RestaurantCard img {
  width: 95%;
  margin-top: 10px;
}

.RestaurantCard .bookNow {
  background-color: #336dde;
  height: 40px;
  width: 120px;
  border-radius: 5px;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
}
