body {
  font-family: GT America, Helvetica, Verdana, sans-serif;
}
/* .App {
  background-color: #f7f7f7;
} */

body {
  background-color: #f7f7f7;
}

button:hover {
  transform: translate(-0.1rem, -0.1rem);
}
